.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.942871;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.942871;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.943359;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.943359;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.674316;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._b{margin-left:-1.008000px;}
._3{width:1.008000px;}
._7{width:2.052000px;}
._13{width:3.132000px;}
._4{width:4.176000px;}
._8{width:5.400000px;}
._9{width:7.236000px;}
._2{width:8.280000px;}
._f{width:11.088000px;}
._a{width:12.276000px;}
._c{width:13.536000px;}
._15{width:14.544000px;}
._d{width:15.588000px;}
._e{width:16.992000px;}
._14{width:18.216000px;}
._5{width:21.204000px;}
._6{width:22.392000px;}
._12{width:23.616000px;}
._11{width:27.576000px;}
._10{width:29.160000px;}
._1{width:30.744000px;}
._0{width:60.768000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size: 43px;}
.fs1{font-size:48.000000px;}
.y0{bottom:36.500000px;}
.y3e{bottom:38.430009px;}
.y3d{bottom:48.779008px;}
.y3c{bottom:59.128007px;}
.y3b{bottom:79.826005px;}
.y3a{bottom:110.873001px;}
.y39{bottom:121.222000px;}
.y38{bottom:131.571000px;}
.y37{bottom:141.919998px;}
.y36{bottom:152.268998px;}
.y35{bottom:162.617996px;}
.y34{bottom:172.966996px;}
.y33{bottom:183.315994px;}
.y32{bottom:193.664994px;}
.y31{bottom:204.013993px;}
.y30{bottom:214.362991px;}
.y2f{bottom:224.711991px;}
.y2e{bottom:235.060989px;}
.y2d{bottom:245.409989px;}
.y69{bottom:249.060990px;}
.y2c{bottom:255.758987px;}
.y68{bottom:259.409989px;}
.y2b{bottom:266.107987px;}
.y67{bottom:269.758988px;}
.y2a{bottom:276.456985px;}
.y66{bottom:280.107987px;}
.y29{bottom:286.805985px;}
.y65{bottom:290.456986px;}
.y28{bottom:297.154984px;}
.y64{bottom:300.805985px;}
.y27{bottom:307.504013px;}
.y26{bottom:317.853012px;}
.y25{bottom:328.202012px;}
.y3f{bottom:330.000000px;}
.y63{bottom:331.853013px;}
.y24{bottom:338.551010px;}
.y62{bottom:342.202007px;}
.y23{bottom:348.900010px;}
.y61{bottom:352.551010px;}
.y60{bottom:362.900009px;}
.y22{bottom:369.598008px;}
.y5f{bottom:373.249009px;}
.y5e{bottom:393.947007px;}
.y21{bottom:400.645004px;}
.y20{bottom:410.994004px;}
.y1f{bottom:421.343003px;}
.y5d{bottom:424.993999px;}
.y1e{bottom:431.692001px;}
.y5c{bottom:435.342999px;}
.y1d{bottom:442.041001px;}
.y5b{bottom:445.691998px;}
.y1c{bottom:452.390000px;}
.y5a{bottom:456.041000px;}
.y1b{bottom:462.738999px;}
.y59{bottom:466.389999px;}
.y58{bottom:476.738999px;}
.y1a{bottom:483.436997px;}
.y57{bottom:487.087997px;}
.y56{bottom:497.436997px;}
.y55{bottom:507.785995px;}
.y19{bottom:514.484005px;}
.y54{bottom:518.134994px;}
.y18{bottom:524.833008px;}
.y53{bottom:528.483994px;}
.y17{bottom:535.182007px;}
.y52{bottom:538.833008px;}
.y16{bottom:545.531007px;}
.y51{bottom:549.182007px;}
.y15{bottom:555.880001px;}
.y50{bottom:559.531007px;}
.y14{bottom:566.229000px;}
.y4f{bottom:569.880006px;}
.y13{bottom:576.578003px;}
.y4e{bottom:580.229005px;}
.y12{bottom:586.927002px;}
.y4d{bottom:590.578004px;}
.y11{bottom:597.276002px;}
.y4c{bottom:600.927003px;}
.y10{bottom:607.625000px;}
.yf{bottom:617.974000px;}
.y4b{bottom:621.625001px;}
.ye{bottom:628.322998px;}
.yd{bottom:638.671998px;}
.yc{bottom:649.021004px;}
.y4a{bottom:652.671997px;}
.yb{bottom:659.370003px;}
.y49{bottom:663.020997px;}
.ya{bottom:669.719003px;}
.y48{bottom:673.370003px;}
.y9{bottom:680.067997px;}
.y47{bottom:683.719002px;}
.y8{bottom:690.417000px;}
.y46{bottom:694.068002px;}
.y7{bottom:700.765999px;}
.y45{bottom:704.417000px;}
.y6{bottom:711.114999px;}
.y44{bottom:714.765999px;}
.y5{bottom:721.463998px;}
.y43{bottom:725.114999px;}
.y4{bottom:742.162000px;}
.y42{bottom:745.813001px;}
.y3{bottom:762.859998px;}
.y2{bottom:773.208999px;}
.y41{bottom:776.860001px;}
.y40{bottom:787.209000px;}
.y1{bottom:797.558000px;}
.h2{height:26.367188px;}
.h3{height:26.384766px;}
.h4{height:32.367188px;}
.h5{height:476.000000px;}
.h1{height:714.000000px;}
.h0{height:842.000000px;}
.w1{width:516.000000px;}
.w2{width:541.500000px;}
.w0{width: 688px;}
.x5{left:34.500000px;}
.x4{left:36.000000px;}
.x0{left:58.500000px;}
.x3{left:132.565002px;}
.x2{left:192.718002px;}
.x1{left:233.641006px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._b{margin-left:-1.344000pt;}
._3{width:1.344000pt;}
._7{width:2.736000pt;}
._13{width:4.176000pt;}
._4{width:5.568000pt;}
._8{width:7.200000pt;}
._9{width:9.648000pt;}
._2{width:11.040000pt;}
._f{width:14.784000pt;}
._a{width:16.368000pt;}
._c{width:18.048000pt;}
._15{width:19.392000pt;}
._d{width:20.784000pt;}
._e{width:22.656000pt;}
._14{width:24.288000pt;}
._5{width:28.272000pt;}
._6{width:29.856000pt;}
._12{width:31.488000pt;}
._11{width:36.768000pt;}
._10{width:38.880000pt;}
._1{width:40.992000pt;}
._0{width:81.024000pt;}
.fs0{font-size:48.000000pt;}
.fs1{font-size:64.000000pt;}
.y0{bottom:48.666667pt;}
.y3e{bottom:51.240012pt;}
.y3d{bottom:65.038677pt;}
.y3c{bottom:78.837343pt;}
.y3b{bottom:106.434673pt;}
.y3a{bottom:147.830668pt;}
.y39{bottom:161.629333pt;}
.y38{bottom:175.428000pt;}
.y37{bottom:189.226664pt;}
.y36{bottom:203.025331pt;}
.y35{bottom:216.823995pt;}
.y34{bottom:230.622662pt;}
.y33{bottom:244.421326pt;}
.y32{bottom:258.219992pt;}
.y31{bottom:272.018658pt;}
.y30{bottom:285.817322pt;}
.y2f{bottom:299.615988pt;}
.y2e{bottom:313.414653pt;}
.y2d{bottom:327.213319pt;}
.y69{bottom:332.081320pt;}
.y2c{bottom:341.011983pt;}
.y68{bottom:345.879986pt;}
.y2b{bottom:354.810650pt;}
.y67{bottom:359.678651pt;}
.y2a{bottom:368.609314pt;}
.y66{bottom:373.477317pt;}
.y29{bottom:382.407981pt;}
.y65{bottom:387.275982pt;}
.y28{bottom:396.206646pt;}
.y64{bottom:401.074647pt;}
.y27{bottom:410.005351pt;}
.y26{bottom:423.804016pt;}
.y25{bottom:437.602683pt;}
.y3f{bottom:440.000000pt;}
.y63{bottom:442.470684pt;}
.y24{bottom:451.401347pt;}
.y62{bottom:456.269343pt;}
.y23{bottom:465.200013pt;}
.y61{bottom:470.068014pt;}
.y60{bottom:483.866679pt;}
.y22{bottom:492.797344pt;}
.y5f{bottom:497.665346pt;}
.y5e{bottom:525.262676pt;}
.y21{bottom:534.193339pt;}
.y20{bottom:547.992006pt;}
.y1f{bottom:561.790671pt;}
.y5d{bottom:566.658666pt;}
.y1e{bottom:575.589335pt;}
.y5c{bottom:580.457331pt;}
.y1d{bottom:589.388002pt;}
.y5b{bottom:594.255997pt;}
.y1c{bottom:603.186667pt;}
.y5a{bottom:608.054667pt;}
.y1b{bottom:616.985332pt;}
.y59{bottom:621.853333pt;}
.y58{bottom:635.651999pt;}
.y1a{bottom:644.582663pt;}
.y57{bottom:649.450663pt;}
.y56{bottom:663.249330pt;}
.y55{bottom:677.047994pt;}
.y19{bottom:685.978673pt;}
.y54{bottom:690.846659pt;}
.y18{bottom:699.777344pt;}
.y53{bottom:704.645326pt;}
.y17{bottom:713.576009pt;}
.y52{bottom:718.444010pt;}
.y16{bottom:727.374676pt;}
.y51{bottom:732.242676pt;}
.y15{bottom:741.173335pt;}
.y50{bottom:746.041342pt;}
.y14{bottom:754.972000pt;}
.y4f{bottom:759.840008pt;}
.y13{bottom:768.770671pt;}
.y4e{bottom:773.638673pt;}
.y12{bottom:782.569336pt;}
.y4d{bottom:787.437339pt;}
.y11{bottom:796.368003pt;}
.y4c{bottom:801.236004pt;}
.y10{bottom:810.166667pt;}
.yf{bottom:823.965333pt;}
.y4b{bottom:828.833335pt;}
.ye{bottom:837.763997pt;}
.yd{bottom:851.562664pt;}
.yc{bottom:865.361338pt;}
.y4a{bottom:870.229329pt;}
.yb{bottom:879.160004pt;}
.y49{bottom:884.027996pt;}
.ya{bottom:892.958670pt;}
.y48{bottom:897.826670pt;}
.y9{bottom:906.757329pt;}
.y47{bottom:911.625336pt;}
.y8{bottom:920.556000pt;}
.y46{bottom:925.424002pt;}
.y7{bottom:934.354665pt;}
.y45{bottom:939.222666pt;}
.y6{bottom:948.153332pt;}
.y44{bottom:953.021332pt;}
.y5{bottom:961.951997pt;}
.y43{bottom:966.819998pt;}
.y4{bottom:989.549333pt;}
.y42{bottom:994.417334pt;}
.y3{bottom:1017.146664pt;}
.y2{bottom:1030.945332pt;}
.y41{bottom:1035.813334pt;}
.y40{bottom:1049.612000pt;}
.y1{bottom:1063.410666pt;}
.h2{height:35.156250pt;}
.h3{height:35.179688pt;}
.h4{height:43.156250pt;}
.h5{height:634.666667pt;}
.h1{height:952.000000pt;}
.h0{height:1122.666667pt;}
.w1{width:688.000000pt;}
.w2{width:722.000000pt;}
.w0{width:793.333333pt;}
.x5{left:46.000000pt;}
.x4{left:48.000000pt;}
.x0{left:78.000000pt;}
.x3{left:176.753337pt;}
.x2{left:256.957336pt;}
.x1{left:311.521342pt;}
}
