@font-face{
    font-family:'Akrobat ExtraBold';
    src:url(../fonts/Fonts_RichBe/Akrobat-ExtraBold.otf) format('opentype');
}
@font-face{
    font-family:'Akrobat Regular';
    src:url(../fonts/Fonts_RichBe/Akrobat-Regular.otf) format('opentype');
}
@font-face{
    font-family:'Akrobat SemiBold';
    src:url(../fonts/Fonts_RichBe/Akrobat-SemiBold.otf) format('opentype');
}
@font-face{
    font-family:'Akrobat Bold';
    src:url(../fonts/Fonts_RichBe/Akrobat-SemiBold.otf) format('opentype');
}
body{
    margin:0;
    padding:0;
}
div.wrapper{
    padding-top:107px;
    width:100%;
    background:url("../images/bg_page.jpg");
    z-index: 0;
    position:relative;
    padding-bottom: 20px;
}
.upper-case{
    text-transform: uppercase;
}
button:hover{
cursor: pointer;
}
div.wrapper div.guarant-banner-wrap{
    position:absolute;
    top:0;
    width:100%;
    z-index: 30;
}
div.wrapper .wrap-head{
    max-width: 1338px;
    padding-left: 193px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 730px;
}
aside.banners{
    position: relative;
    width:300px;
    height:710px;
}
div.wrapper .guarant{
    position: relative;
    width:365px;
    height:260px;
    background:url('../images/guarantee.png') no-repeat;
    z-index:8;
}
div.inner-wrap{
    max-width:995px;
    width:100%;
    margin:0 auto;
}
div.wrapper .rich-man{
    position: absolute;
    left: -29px;
    top: 6px;
    z-index: 7;
}
div.wrapper .rich-man img{
    height: 946px;
}
div.wrapper .top-left-angle{
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
}
div.wrapper .bottom-right-angle{
    position: absolute;
    bottom:0;
    right:0;

}
div.wrapper .guarant-content span{
    display: block;
}
div.wrapper .guarant-content{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    margin:0 auto;
    margin-top: 92px;
}
header div.logo{
    display:flex;
    justify-content: space-between;
    font-family:'Akrobat Bold';
    font-size: 26px;
    color: rgb(180, 180, 180);
}
header div.logo img{
    margin-top: -16px;
}
header div.logo::before,
header div.logo::after
{
    display: block;
    content:"";
    width:23px;
    height:0px;
    background: #b8b8b8;
    border:1px solid #b8b8b8;
    margin-top: 16px;
}
header .inner-wrap .head-title{
    font-family:'Akrobat ExtraBold';
    font-size: 30px;
    margin-left: 35px;
    margin-top: 3px;
}
header .inner-wrap{
    width: 290px;
    position: relative;
    left: -10px;
    top: 18px;
}
span.of-year::before,
span.of-year::after{
   content:url('../images/star.png');
}
span.of-year{
    width: 111px;
    padding-left: 18px;
    margin: 9px -2px 0 7px;
}
span.of-year::before{
    float: left;
    margin-left: -6px;
    margin-top: 4px;
}
span.of-year::after{
    float: right;
    margin-right: 10px;
    margin-top: 4px;
}
span.year-number{
    text-align: center;
    width:141px;
    height:28px;
    margin-top: 7px;
}
span.year-number::before,
span.year-number::after{
display: block;
content:"";
width:34px;
height:0px;
background: #b0b4b8;
border:1px solid #b0b4b8;
margin-top:13px;
}
span.year-number::before{
    float: left;
}
span.year-number::after{
    float: right;
}
span.of-year::before,
span.of-year::after{
   content:url('../images/star.png');
}
div.wrapper .gold-word{
color:#fcde7f;
}
div.wrapper .white-word{
    color:white;
}
div.inner-wrap h1, 
div.guarant .guarant-content,
div.wrapper .btn,
div.wrapper h2,
div.wrapper h3,
form span{
font-family: 'Akrobat ExtraBold';
}
section.our-school-represent h1{
    font-size: 57px;
    text-shadow: 0px 7px 11.9px rgba(0, 0, 0, 0.69);
    text-align: center;
    margin-top: 88px;
}
section.our-school-represent h3{
    width: 800px;
    font-size: 22px;
    text-shadow: 0px 7px 11.9px rgba(0, 0, 0, 0.69);
    text-align: center;
    margin: 0 auto;
    margin-top: -21px;
    position:relative;
    z-index:9;
}
section.our-school-represent .our-school-text{
    width:593px;
}
section.our-school-represent .our-school-text,
section.about-school ul{
    list-style: none;
    font-size:22px;
    font-family: 'Akrobat Regular';
}
section.our-school-represent p.our-school-text{
    text-align: center;
    margin: 0 auto;
    margin-top: 44px;
}
section.about-school h3{
    font-size: 40px;
    line-height: 0.925;
    margin-left: 38px;
    position: relative;
    top: 18px;
}
section.about-school .purposes h3 {
    width: 232px;
}
section.about-school .novices h3{
    width:148px;
}
div.wrapper .profit-red,
span.year-number{
    color:red;
}
section.about-school .inner-wrap {
    width: 932px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-right: 40px;
    z-index: 8;
    position: relative;
}
div.purposes span{
    font-family: "Akrobat ExtraBold"; 
}

aside.banners .want-banner,
aside.banners .selection-banner
{
    background: #202750;
    width: 237px;
    box-shadow: 0px 7px 11.9px 2.1px rgba(0, 0, 0, 0.69);
    /*display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;*/
}
aside .want-banner{
    height: 375px;
    position:absolute;
    right: 11px;
}
aside .want-banner .banner-img{
  width: 168px;
  height:153px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 10px;
}
aside.banners .want-banner-wrap{
    width: 247px;
    height: 386px;
    background-color: rgb(32, 47, 105);
    box-shadow: 0px 7px 11.9px 2.1px rgba(0, 0, 0, 0.69);
    z-index:5;
    position: relative;
}
aside.banners .selection-banner-wrap{
    margin-top: -10px;
    height: 256px;
    width: 243px;
    background-color: rgb(32, 47, 105);
    box-shadow: 0px 7px 11.9px 2.1px rgba(0, 0, 0, 0.69);
    z-index:4;
    position: relative;
}
aside .btn {
    width: 224px;
    height: 59px;
    margin-left: 8px;
    margin-top: -16px;
}
aside .selection-banner{
    height: 247px;
    position:absolute;
    right: 6px;
}
div.banner-img img{
    width: 150px;
}
.btn{
    background: #ca0001;
    font-size: 37px;
    border:none;
    padding:0;
}
.btn p{
    border-top: 2px dashed rgb(255, 255, 255);
    border-bottom:2px dashed rgb(255, 255, 255);
    margin-top: 3px;
    padding: 4px;
    line-height: 1.2;
}
aside.banners h2{
    font-size: 46px;
    text-align: center;
    text-shadow: 0px 7px 6.23px rgba(0, 0, 0, 0.44);
}
aside .want-banner h2{
    position: relative;
    top: -17px;
    margin-bottom: -16px;
}
aside .selection-banner h2{
    font-size: 34px;
    line-height: 1.142;
}
aside .selection-banner h2 span{
    font-size: 41px;
}
aside div.phrases-banner{
    font-family: "Akrobat SemiBold";
    font-size: 19px;
    width:102px;
    height:65px;
    text-align: center;
    margin:0 auto;
}
    aside.banners ul {
        list-style: none;
        width: 29px;
        height: 40px;
        margin: 0 auto;
        padding: 0;
        margin-top: -14px;
        margin-bottom: 26px;
    }
aside.banners ul>li{
    margin-bottom: -9px;
}
aside.banners ul>li:first-child{
opacity: 0.2;
}
aside.banners ul>li:nth-child(2){
    opacity: 0.5;
}
aside.banners >div>div:hover{
    /*transition: .5s;*/
    box-shadow: 0 0 50px rgb(255, 255, 255);
    animation: none;
}
aside.banners >div>div{
    animation: animateBanner 5s ease-in-out infinite;
}
@keyframes animateBanner {
    0% {
    }
    80% {
        box-shadow: 0px 7px 11.9px 2.1px rgba(0, 0, 0, 0.69);
    }
    90% {
        box-shadow: 0 0 50px white;
    }
    100% {
        box-shadow: 0px 7px 11.9px 2.1px rgba(0, 0, 0, 0.69);
    }
}
/*@keyframes animatebanner{
    to {
        box-shadow: 0 0 50px rgb(255, 255, 255);
    }
  }*/
  section.your-result .inner-wrap {
    max-width: 1580px;
    margin: 0 auto;
    margin-top: 46px;
    height: 101px;
    background: url(../images/your_result.png) no-repeat;
    position: relative;
    bottom: 27px;
    z-index: 11;
}
section.your-result h3 {
    width: 789px;
    text-align: left;
    font-size: 33px;
    line-height: 1.2;
    margin: 0 auto;
    padding-top: 32px;
    padding-right: 159px;
}
section.request .inner-wrap{
    margin-top: 30px;
    padding-left: 107px;
    position: relative;
    z-index:12;
}
section.request .confirm-politic{
    margin-top: -14px;
}
section.request button,
div.request-content button
{
    width: 203px;
    height: 58px;
    font-size: 29px;
    position: relative;
    left: 5px;
    top: 2px;
}
section.request button p,
div.request-content button{
    padding: 5px;
}
section.request input[type="text"],
section.request input[type="email"],
div.request-content input[type="text"],
div.request-content input[type="email"]
{
    font-family: 'Akrobat Regular';
    font-size:22px;
    width: 208px;
    height: 50px;
    margin-right: 9px;
    background:transparent;
    border:2px solid white;
  line-height: 1.2;
  text-align: left;
  color:white;
}
section.request input:last-child,
div.request-content input:last-child
{
    margin-right:12px;
}
section.request input[placeholder],
div.request-content input[placeholder]
{
padding-left:16px;
}
::-webkit-input-placeholder {color:white; opacity:1;}
section.request span{
    font-size:30px;
    display:block;
    margin-top:23px;
}
section.request .confirm-politic,
div.request-content .confirm-politic{
    position: relative;
    left: 35px;
}
section.request .confirm-politic p,
div.request-content .confirm-politic p
{
    font-family: 'Akrobat Regular';
    font-size: 20px;
    margin-top: 25px;
}
section.request p.white-word a,
div.request-content p.white-word a
{
color:white;
}

input[name="politic-check"] {
    display:none;
}
.check-mark {
    display: block;
    cursor: pointer;
    position:absolute;
    top: -5px;
    left: -37px;
    width:26px;
    height:26px;
    border:2px solid white;
    border-radius: 50%;
}
.check-mark img {
    margin-left: 3px;
    visibility: hidden;
}
input[type="checkbox"]:checked + img {
    visibility: visible;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 83px;
    width:100%;
  }

  footer .inner-footer{
    max-width: 1639px;
    width: 100%;
    display:flex;
    justify-content:flex-end;
    margin:0 auto;
  }
  footer a{
     font-family:'Akrobat SemiBold';
     text-decoration: dashed underline white;
     color:white;
     font-size:25px;
     position: relative;
     z-index: 15;
  }

  div.social-icons ul{
      list-style: none;
  }
  div.social-icons ul .whatsapp{
      width:52px; 
      height:52px;
      border:1.5px solid black;
      border-radius:50%;
  }
  ul.socials div.whatsapp img{
    width: 48px;
    height: 48px;
    margin-top: 2px;
    margin-left: 2px;
    opacity: 0.8;
}
  ul.socials li{
    position:absolute;
    z-index:30;
  }
  ul.socials li img{
      width:52px;
      height:52px;
  }
  ul.socials li:nth-child(1){
    bottom: 205px;
    left: 498px;
  }
  ul.socials li:nth-child(2){
    bottom: 233px;
    left: 546px;
  }
  ul.socials li:nth-child(3){
    bottom: 262px;
    left: 595px;
  }
  ul.socials li:nth-child(4){
    bottom: 289px;
    left: 643px;
  }
  ul.socials li:nth-child(5){
    bottom: 317px;
    left: 691px;
  }
  ul.socials li:nth-child(6){
    bottom: 346px;
    left: 739px;
  }
div.bottom-right-angle .bottom-right{
    height: 542px;
    width: 1019px;
}
div.dark-bg{
width:100%;
height:100%;
position: absolute;
top:0;
left:0;
background-color: rgba(0,0,0,0.7);
z-index: 45;
}
/*div.request-window{
    position: absolute;
    width:1297px;
    height:1087px;
    background:url("../images/bg_page.jpg");
    margin:0 auto;
    z-index:50;
    left:16.25%;
    top:7.75%;
}*/
div.request-window {
    position: fixed;
    width: 67.5%;
    max-width: 1297px;
    height: 92.9%;
    background: url(../images/bg_page.jpg);
    margin: 0 auto;
    z-index: 50;
    left: 16.25%;
    top: 6.75%;
    margin-top: -1.5%;
}
div.request-window .request-top-left{
    width: 80%;
    height: 55.2%;
}
div.request-window img.request-bottom-right{
    width: 69.4%;
    height: 47.83%;
}

div.request-window img{
    position: absolute;
}
div.request-window .request-top-left{
top:0;
left:0;
}
div.request-window img.request-bottom-right{
    bottom:0;
    right:0; 
}
div.request-window .request-content {
    position: relative;
    z-index: 70;
    max-width: 1032px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 6.5%;
}
div.request-window p.request-text {
    margin-bottom: 8.55%;
    width: 87%;
    height: 10.1%;
}
div.request-window p.request-text,
div.request-content div.textarea-title{
    font-family: "Akrobat ExtraBold";
    font-size: 30px;
    text-align: left;
    color:white;
}
div.request-content div.textarea-title {
    width: 13.8%;
    height: 90px;
    background: #f7de8f;
    text-transform: uppercase;
    color: black;
    text-align: left;
    padding-top: 15px;
    vertical-align: middle;
    padding-left: 22px;
    float: left;
    margin-left: 0;
}
div.request-content div.request-item {
    height: 11.95%;
    margin-bottom: 7.968%;
}
div.request-content textarea {
    border: 2px solid white;
    font-family: "Akrobat Regular";
    background: transparent;
    color: white;
    float: left;
    font-size: 20px;
    height: 60px;
    width: 78.8%;
    padding: 20px;
}
div.request-content div.last {
    margin-bottom: 7.22%;
}
div.request-content input[type="text"], div.request-content input[type="email"] {
    font-family: 'Akrobat Regular';
    font-size: 22px;
    width: 202px;
    height: 59px;
    margin-right: 10px;
    background: transparent;
    border: 2px solid white;
    line-height: 1.2;
    text-align: left;
    color: white;
}
div.request-content button {
    width: 28.67%;
    height: 65px;
    top: 1px;
    padding: 3px;
}
/*.close-popup{
    width: 33px;
    height: 33px;
    position: absolute;
    top: -15px;
    right: -15px;
    background: url(../images/closet.png) no-repeat;
    border-radius: 50%;
    -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
    z-index: 80;
}*/
@media screen and (max-width: 1921px){
    div.wrapper .guarant {
        left: 73px;
    }
    }
.close-popup {
    position: absolute;
    z-index: 200;
    width: 25px;
    height: 25px;
    top: -25px;
    right: -22px;
    border-radius: 50%;
    background-color: #ca0001;
    padding: 17px;
    cursor: pointer;
}
.close-popup:before, .close-popup:after {
    position: absolute;
    left: 46%;
    top: 26%;
    content: ' ';
    height: 30px;
    width: 3px;
    background-color: white;
}
.close-popup:before {
    transform: rotate(45deg);
}
.close-popup:after {
    transform: rotate(-45deg);
}

@media screen and (max-width:1700px){
    div.request-window p.request-text {
        font-size: 27px;
    }
        div.request-content textarea {
            float: left;
        }
        div.request-window .request-content {
            padding-left: 12px;
        }
        div.request-window{
            height:1000px;
            width: 66.5%;
        }
        div.request-content .confirm-politic {
            left: 54px;
        }
        div.request-content .confirm-politic p {
            font-size: 16px;
        }
        div.request-window {
            height: 929px;
        }
        div.request-window p.request-text {
            margin-bottom: 4.55%;
        }
        div.request-content div.last {
            margin-bottom: 8.22%;
        }
        div.request-content div.request-item {
            margin-bottom: 4.968%;
        }
}
@media screen and (max-width:1585px){
    div.request-window .request-content {
        padding-left: 108px;
    }
    div.request-window .request-top-left {
        width: 59%;
        height: 36.2%;
    }
    div.request-window img.request-bottom-right {
        width: 54.4%;
        height: 40.83%;
    }
    div.request-window p.request-text {
        font-size: 23px;
    }
    div.request-window{
            height: 917px;
    }
    content div.textarea-title {
        width: 12.2%;
    }
    div.request-content textarea {
        width: 63.8%;
    }
     div.request-content input[type="text"], 
     div.request-content input[type="email"] {
        width: 16%;
        height: 48px;
     }
     div.request-content button {
        width: 211px;
        height: 49px;
    }
    div.request-content .btn p {
        font-size: 20px;
    }
     div.request-content .confirm-politic {
        left: 74px;
        bottom: 8px;
    }
    div.request-content .btn p {
        font-size: 20px;
    }
    div.request-content .confirm-politic p {
        font-size: 15px;
    }
    div.request-content textarea {
        font-size: 17px;
    }
    div.request-window {
        height: 695px;
    }
    div.request-window p.request-text {
        font-size: 20px;
    }
    div.request-content div.textarea-title {
        font-size: 26px;
    }
    div.request-content textarea {
        height: 48px;
    }
    div.request-content div.textarea-title {
        width: 11.8%;
        height: 77px;
    }
    div.request-window .request-content {
        padding-top: 4.5%;
    }
    div.request-content div.request-item {
        margin-bottom: 3.968%;
    }
}
div.hide-request{
    display:none;
}
@media screen and (max-width:1760px){
    .wrap-head div.guarant{
        background-size: 340px 243px;
        left:80px;
    }
    div.bottom-right-angle .bottom-right {
        height: 542px;
        width: 975px;
    }
    .wrap-head div.guarant .guarant-content{
        padding-right: 25px;
        margin-top: 78px;
    }
    img.rich-man{
        width:auto;
        height:920px;
    }
    img.top-left-angle{
    width:910px;
    height:auto;
    }
    div.bottom-right-angle img{
        width:1025px;
        height:auto;
    }
    footer .inner-footer{
    max-width:1495px;
    }
      }
      @media screen and (max-width:1680px){
        div.bottom-right-angle .bottom-right {
            height: 537px;
            width: 959px;
        }
        section.request .inner-wrap {
            margin-top: -5px;
        }
        section.your-result .inner-wrap {
            height: 92px;
            right: 66px;
        }
        header .inner-wrap {
            width: 290px;
            position: relative;
            left: -10px;
            top: 63px;
        }
        img.rich-man {
            width: auto;
            height: 727px;
        }
        img.top-left-angle {
            width: 821px;
            height: auto;
        }
        header .inner-wrap {
            top: 35px;
        }
        section.our-school-represent h1 {
            font-size: 50px;
            margin-top: 63px;
        }
        section.our-school-represent h3 {
            width: 652px;
            font-size: 18px;
        }
        section.our-school-represent p.our-school-text {
            margin-top: 32px;
            width: 550px;
            font-size: 20px;
        }
        section.about-school h3 {
            font-size: 36px;
        }
        section.about-school .inner-wrap {
            margin-top: -8px;
        }
        section.about-school ul {
            font-size: 19px;
        }
        section.your-result h3 {
            font-size: 31px;
        }
        aside.banners .want-banner-wrap {
            width: 197px;
            height: 309px;
        }
        aside.banners .want-banner,
         aside.banners .selection-banner {
            width: 183px;
        }
        aside .want-banner {
            height: 297px;
        }
        aside .want-banner h2 {
            top: -17px;
            font-size: 30px;
            margin-bottom: -11px;
        }
        aside div.phrases-banner {
            font-size: 14px;
            width: 74px;
        }
        aside .want-banner .banner-img {
            width: 168px;
            height: 153px;
            margin-left: 28px;
            margin-right: auto;
            margin-top: -3px;
            margin-bottom: 10px;
        }
        div.banner-img img {
            width: 126px;
        }
        aside .btn {
            width: 175px;
            height: 51px;
            position: relative;
            bottom: 23px;
            left: -4px;
            margin-top: -16px;
        }
        .btn {
            font-size: 25px;
        }
        .btn p {
            padding: 4px;
        }
        aside .selection-banner h2 span {
            font-size: 30px;
        }
        aside .selection-banner h2 {
            font-size: 26px;
        }
        aside.banners ul {
            margin-top: -6px;
            margin-bottom: 48px;
        }
        aside.banners .selection-banner-wrap {
            height: 219px;
            width: 191px;
        }
        aside .selection-banner {
            height: 209px;
        }
      }
@media screen and (max-width:1585px){
    .wrap-head div.guarant .guarant-content{
        padding-right: 63px;
        margin-top: 66px;
    }
    .wrap-head div.guarant .guarant-content .guarant-title img{
        width:105px;
    }
    .wrap-head div.guarant .guarant-content .year-number img{
        width:40px;
    }
    span.year-number::before, span.year-number::after{
        width:22px;
        margin-top: 11px;
    }
    span.year-number {
        width: 102px;
    }
    .wrap-head div.guarant .guarant-content .year-number img{
        width:51px;
    }
    .wrap-head div.guarant {
        background-size: 302px;
    }
    div.wrapper .guarant {
        left: 151px;
    }
    div.bottom-right-angle .bottom-right {
        height: 448px;
        width: 816px;
    }
    ul.socials li:nth-child(1) {
        bottom: 140px;
        left: 380px;
    }
    ul.socials li:nth-child(2) {
        bottom: 169px;
        left: 429px;
    }
    ul.socials li:nth-child(3) {
        bottom: 194px;
        left: 481px;
    }
    ul.socials li:nth-child(4) {
        bottom: 223px;
        left: 530px;
    }
    ul.socials li:nth-child(5) {
        bottom: 250px;
        left: 580px;
    }
    ul.socials li:nth-child(6) {
        bottom: 277px;
        left: 629px;
    }
}
     


            @media screen and (max-width:1377px){
                div.request-window p.request-text {
                    font-size: 21px;
                    margin-bottom: 43px;
                }
                div.request-content div.request-item {
                    margin-bottom: 5.968%;
                }
                div.request-content .confirm-politic p {
                    font-size: 16px;
                }
                div.request-content .confirm-politic {
                    left: 2px;
                    bottom: 9px;
                }
                div.request-content div.request-item:last-child{
                    margin-bottom: 4.9%;
                }
                div.request-content button {
                    width: 151px;
                    height: 45px;
                }
                div.request-content .btn p {
                    font-size: 15px;
                }
                div.request-window .request-content {
                    padding-left: 68px;
                }
                div.request-content input[type="text"], 
                div.request-content input[type="email"] {
                    width: 152px;
                    height: 33px;
                    font-size: 16px;
                }
                div.request-window {
                    height: 695px;
                }
                div.request-window p.request-text {
                    font-size: 20px;
                }
                div.request-content div.textarea-title {
                    font-size: 26px;
                }
                div.request-content textarea {
                    height: 48px;
                }
                div.request-content div.textarea-title {
                    width: 11.8%;
                    height: 77px;
                }
                div.request-window .request-content {
                    padding-top: 4.5%;
                }
                div.request-content div.request-item {
                    margin-bottom: 3.968%;
                }
            }

@media screen and (max-width:1350px){
    div.request-window p.request-text {
        font-size: 18px;
        margin-bottom: 31px;
    }
    div.request-content div.textarea-title {
        width: 13.8%;
        height: 70px;
        font-size: 23px;
    }
    div.request-content textarea {
        width: 62.8%;
        height: 41px;
    }
    div.request-window .request-content {
        padding-left: 99px;
    }
    div.request-window {
        height: 689px;
    }
    div.request-content .confirm-politic p {
        font-size: 15px;
    }
    div.request-content textarea {
        font-size: 15px;
    }
}
@media screen and (max-width:1220px){
    div.request-window .request-content {
        padding-left: 81px;
    }
    div.request-content button {
        width: 141px;
        height: 41px;
    }
    div.request-content .btn p {
        font-size: 14px;
    }
    div.request-content input[type="email"] {
        width: 140px;
        height: 33px;
        font-size: 15px;
    }
    div.request-content .confirm-politic p {
        font-size: 14px;
    }
    div.request-content .check-mark img {
        margin-left: 2px;
        width: 13px;
        height: 13px;
        margin-top: 2px;
    }
    div.request-content .check-mark {
        top: -3px;
        left: -24px;
        width: 17px;
        height: 17px;
    }
}
@media screen and (max-width:1155px){
    div.request-content button {
        width: 115px;
        height: 38px;
    }
    div.request-content .btn p {
        font-size: 12px;
    }
}
@media screen and (max-width:1116px){
    div.request-window {
        height: 650px;
    }
    div.request-content input[type="text"], div.request-content input[type="email"] {
        width: 127px;
        height: 29px;
        font-size: 14px;
    }
    div.request-content input[type="email"] {
        width: 126px;
        height: 29px;
        font-size: 14px;
    }
    div.request-content .btn p {
            font-size: 11px;
    }
    div.request-content button {
        width: 115px;
        height: 38px;
    }
    div.request-content .confirm-politic p {
        font-size: 13px;
    }
    div.request-content div.textarea-title {
        font-size: 21px;
    }
}
@media screen and (max-width:1080px){
    div.request-window .request-content {
        padding-left: 63px;
    }
}
@media screen and (max-width:1010px){
    div.request-content .confirm-politic p {
        font-size: 12px;
    }
}
@media screen and (max-width:1000px){
    div.request-content textarea {
        width: 66.8%;
    }
    div.request-window .request-content {
        padding-left: 48px;
    }
}

div.dark-bg-popup{
    width:100%;
height:100%;
position: absolute;
top:0;
left:0;
background-color: rgba(0,0,0,0.7);
z-index: 105;
}
div.popup-thanks{
    width: 394px;
    height: 176px;
    top: 21%;
    left: 39.75%;
    position:fixed;
    background:url("../images/bg_page.jpg");
    z-index:110;
    box-shadow: 0 0 50px rgb(255, 255, 255);
}
div.popup-thanks .close-popup{
z-index: 95;
}
div.popup-thanks img.popup-top-left,
div.popup-thanks img.popup-bottom-right
{
    position:absolute;
    width:120px;
}
div.popup-thanks img.popup-top-left{
top:0;
left:0;
}
div.popup-thanks img.popup-bottom-right{
    bottom:0;
    right:0;
}
div.popup-thanks p{
    text-align:center;
    font-family:'Akrobat SemiBold';
    width:100%;
    position:relative;
    z-index:111;
}
div.popup-thanks p.thank{
    font-size: 35px;
color:white;
}
div.popup-thanks p.soon{
    font-size: 24px;
color:#fcde7f;
}
div.popup-thanks .close-popup{
    width: 8px;
    height: 8px;
    top: -16px;
    right: -14px;
}
div.popup-thanks .close-popup:before,
div.popup-thanks .close-popup:after {
    left: 45%;
    top: 20%;
    height: 27px;
}
/*button.disabled{
    opacity:0.5;
    cursor: default;
    pointer-events: none;
}*/
div.confid-popup {
    position: fixed;
    width: 48.5%;
    max-width: 1297px;
    height: 80.9%;
    background: url(../images/bg_page.jpg);
    margin: 0 auto;
    z-index: 51;
    left: 25.75%;
    top: 6.75%;
    margin-top: -1.5%;
    padding-top:50px;
}
div.confid-popup img.confid-top-left,
div.confid-popup img.confid-bottom-right
{
    position:absolute;
}
div.confid-popup .confid-top-left{
    width: 461px;
    top:0;
    left:0;
    z-index: 53;
}
div.confid-popup .confid-bottom-right{
    width:230px;
    bottom:0;
    right:0;
    z-index: 54;
}
div.confid-popup .close-popup {
    position: absolute;
    z-index: 200;
    width: 8px;
    height: 8px;
    top: -20px;
    right: -17px;
}
div.confid-popup .close-popup:before, .close-popup:after {
    left: 46%;
    top: 23%;
    height: 25px;
}
div.confid-content {
    margin: 0 auto;
    position: relative;
    padding: 20px;
    border: 2px solid white;
    width: 84%;
    height: 84%;
    z-index: 55;
    overflow: scroll;
    bottom: 11px;
}
div.dark-bg-confid{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.7);
    z-index: 49;
    }
    section.request .confirm-politic span{
        text-decoration: underline;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        margin:0;
        padding:0;
        cursor: pointer;
    }