@font-face{
    font-family:'Akrobat ExtraBold';
    src:url(../fonts/Fonts_RichBe/Akrobat-ExtraBold.otf) format('opentype');
}
@font-face{
    font-family:'Akrobat Regular';
    src:url(../fonts/Fonts_RichBe/Akrobat-Regular.otf) format('opentype');
}
@font-face{
    font-family:'Akrobat SemiBold';
    src:url(../fonts/Fonts_RichBe/Akrobat-SemiBold.otf) format('opentype');
}
@font-face{
    font-family:'Akrobat Bold';
    src:url(../fonts/Fonts_RichBe/Akrobat-SemiBold.otf) format('opentype');
}
body{
    margin:0;
    padding:0;
}
div.wrapper{
    padding-top:107px;
    width:100%;
    background:url("../images/bg_page.jpg");
    z-index: 0;
    position:relative;
    padding-bottom: 15px;
}
.upper-case{
    text-transform: uppercase;
}
button:hover{
cursor: pointer;
}
div.wrapper div.guarant-banner-wrap{
    position:absolute;
    top:0;
    width:100%;
    z-index: 30;
}
div.wrapper .wrap-head{
    max-width: 1338px;
    padding-left: 193px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 730px;
}
aside.banners{
    position: relative;
    /*top:0;
    right:5px;*/
    width:300px;
    height:710px;
}
div.wrapper .guarant{
    position: relative;
    /*left: 30px;*/
    top: 18px;
    width:365px;
    height:260px;
    background:url('../images/guarantee.png') no-repeat;
    z-index:8;
}
div.inner-wrap{
    max-width:995px;
    width:100%;
    margin:0 auto;
}
div.wrapper .rich-man{
    position: absolute;
    left: -29px;
    top: 6px;
    z-index: 7;
}
div.wrapper .top-left-angle{
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
}
div.wrapper .bottom-right-angle{
    position: absolute;
    bottom:0;
    right:0;

}
div.wrapper .guarant-content span{
    display: block;
}
div.wrapper .guarant-content{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    margin:0 auto;
    margin-top: 92px;
}
header div.logo{
    display:flex;
    justify-content: space-between;
    font-family:'Akrobat Bold';
    font-size:30px;
    color: rgb(180, 180, 180);
}
header div.logo img{
    margin-top: -16px;
}
header div.logo::before,
header div.logo::after
{
    display: block;
    content:"";
    width:23px;
    height:0px;
    background: #b8b8b8;
    border:1px solid #b8b8b8;
    margin-top:20px;
}
header .inner-wrap .head-title{
    font-family:'Akrobat ExtraBold';
    font-size: 30px;
    margin-left: 35px;
    margin-top: 3px;
}
header .inner-wrap{
    width: 237px;
    position: relative;
    left: -10px;
    top: 18px;
}
span.of-year::before,
span.of-year::after{
   content:url('../images/star.png');
}
span.of-year{
    width: 111px;
    padding-left: 18px;
    margin: 9px -2px 0 7px;
}
span.of-year::before{
    float: left;
    margin-left: -6px;
    margin-top: 4px;
}
span.of-year::after{
    float: right;
    margin-right: 10px;
    margin-top: 4px;
}
span.year-number{
    text-align: center;
    width:141px;
    height:28px;
    margin-top: 7px;
}
span.year-number::before,
span.year-number::after{
display: block;
content:"";
width:34px;
height:0px;
background: #b0b4b8;
border:1px solid #b0b4b8;
margin-top:13px;
}
span.year-number::before{
    float: left;
}
span.year-number::after{
    float: right;
}
span.of-year::before,
span.of-year::after{
   content:url('../images/star.png');
}
div.wrapper .gold-word{
color:#fcde7f;
}
div.wrapper .white-word{
    color:white;
}
div.inner-wrap h1, 
div.guarant .guarant-content,
div.wrapper .btn,
div.wrapper h2,
div.wrapper h3,
form span{
font-family: 'Akrobat ExtraBold';
}
section.our-school-represent h1{
    font-size:60px;
    text-shadow: 0px 7px 11.9px rgba(0, 0, 0, 0.69);
    text-align: center;
    margin-top: 85px;
}
section.our-school-represent h3{
    width:839px;
    font-size: 24px;
    text-shadow: 0px 7px 11.9px rgba(0, 0, 0, 0.69);
    text-align: center;
    margin: 0 auto;
    margin-top: -21px;
    position:relative;
    z-index:9;
}
section.our-school-represent .our-school-text{
    width:593px;
}
section.our-school-represent .our-school-text,
section.about-school ul{
    list-style: none;
    font-size:22px;
    font-family: 'Akrobat Regular';
}
section.our-school-represent p.our-school-text{
    text-align: center;
    margin: 0 auto;
    margin-top: 55px;
}
section.about-school h3{
    font-size: 40px;
    line-height: 0.925;
    margin-left: 38px;
    position: relative;
    top: 18px;
}
section.about-school .purposes h3{
    width:232px;
}
section.about-school .novices h3{
    width:148px;
}
div.wrapper .profit-red,
span.year-number{
    color:red;
}
section.about-school .inner-wrap{
    width: 932px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    padding-right: 40px;
    z-index: 8;
    position: relative;
}
div.purposes span{
    font-family: "Akrobat ExtraBold"; 
}

aside.banners .want-banner,
aside.banners .selection-banner
{
    background: #202750;
    width:272px;
    box-shadow: 0px 7px 11.9px 2.1px rgba(0, 0, 0, 0.69);
    /*display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;*/
}
aside .want-banner{
    height: 414px;
    position:absolute;
    right: 11px;
}
aside .want-banner .banner-img{
  width: 168px;
  height:153px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;
  margin-bottom: 10px;
}
aside.banners .want-banner-wrap{
    width: 275px;
    height: 422px;
    background-color: rgb(32, 47, 105);
    box-shadow: 0px 7px 11.9px 2.1px rgba(0, 0, 0, 0.69);
    z-index:5;
    position: relative;
}
aside.banners .selection-banner-wrap{
    margin-top: -10px;
    height:288px;
    width:273px;
    background-color: rgb(32, 47, 105);
    box-shadow: 0px 7px 11.9px 2.1px rgba(0, 0, 0, 0.69);
    z-index:4;
    position: relative;
}
aside .btn{
    width:255px;
    height:68px;
    margin-left: 8px;
    margin-top: -3px;
}
aside .selection-banner{
    height:280px;
    position:absolute;
    right: 6px;
}
.btn{
    background: #ca0001;
    font-size: 37px;
    border:none;
    padding:0;
}
.btn p{
    border-top: 2px dashed rgb(255, 255, 255);
    border-bottom:2px dashed rgb(255, 255, 255);
    margin-top: 3px;
    padding: 6px;
    line-height: 1.2;
}
aside.banners h2{
    font-size:51px;
    text-align: center;
    text-shadow: 0px 7px 6.23px rgba(0, 0, 0, 0.44);
}
aside .want-banner h2{
    position: relative;
    top: -17px;
    margin-bottom: -16px;
}
aside .selection-banner h2{
    font-size:38px;
    line-height: 1.142;
}
aside .selection-banner h2 span{
    font-size:43px;
}
aside div.phrases-banner{
    font-family: "Akrobat SemiBold";
    font-size: 21px;
    width:102px;
    height:65px;
    text-align: center;
    margin:0 auto;
}
aside.banners ul{
    list-style: none;
    width:29px;
    height:40px;
    margin:0 auto;
    padding: 0;
    margin-top: -16px;
    margin-bottom: 19px;
}
aside.banners ul>li{
    margin-bottom: -9px;
}
aside.banners ul>li:first-child{
opacity: 0.2;
}
aside.banners ul>li:nth-child(2){
    opacity: 0.5;
}
aside.banners >div>div:hover{
    /*transition: .5s;*/
    box-shadow: 0 0 50px rgb(255, 255, 255);
    animation: none;
}
aside.banners >div>div{
    animation: animateBanner 5s ease-in-out infinite;
}
@keyframes animateBanner {
    0% {
    }
    80% {
        box-shadow: 0px 7px 11.9px 2.1px rgba(0, 0, 0, 0.69);
    }
    90% {
        box-shadow: 0 0 50px white;
    }
    100% {
        box-shadow: 0px 7px 11.9px 2.1px rgba(0, 0, 0, 0.69);
    }
}
/*@keyframes animatebanner{
    to {
        box-shadow: 0 0 50px rgb(255, 255, 255);
    }
  }*/
section.your-result .inner-wrap{
    max-width: 1580px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    height: 137px;
    background: url(../images/your_result.png) no-repeat;
    position: relative;
    z-index: 11;
}
section.your-result h3{
    width: 733px;
    text-align: left;
    font-size: 40px;
    line-height: 1.2;
    margin:0 auto;
    padding-top: 21px;
    padding-right: 159px;
    /*position: relative;
    top: 21px;
    right: 33px;*/
}
section.request .inner-wrap{
    margin-top: 30px;
    padding-left: 107px;
    position: relative;
    z-index:12;
}
section.request .confirm-politic{
    margin-top: -14px;
}
section.request button,
div.request-content button
{
    width: 227px;
    height: 66px;
    font-size: 30px;
    position: relative;
    left: 5px;
    top: 2px;
}
section.request button p,
div.request-content button{
    padding:12px;
}
section.request input[type="text"],
section.request input[type="email"],
div.request-content input[type="text"],
div.request-content input[type="email"]
{
    font-family: 'Akrobat Regular';
    font-size:22px;
    width: 208px;
    height: 59px;
    margin-right: 9px;
    background:transparent;
    border:2px solid white;
  line-height: 1.2;
  text-align: left;
  color:white;
}
section.request input:last-child,
div.request-content input:last-child
{
    margin-right:12px;
}
section.request input[placeholder],
div.request-content input[placeholder]
{
padding-left:16px;
}
::-webkit-input-placeholder {color:white; opacity:1;}
section.request span{
    font-size:30px;
    display:block;
    margin-top:23px;
}
section.request .confirm-politic,
div.request-content .confirm-politic{
    position: relative;
}
section.request .confirm-politic p,
div.request-content .confirm-politic p
{
    font-family: 'Akrobat Regular';
    font-size: 20px;
    margin-top: 25px;
}
section.request p.white-word a,
div.request-content p.white-word a
{
color:white;
}
section.request .confirm-politic input,
div.request-content .confirm-politic input
{
    display:none;
}
section.request .check-mark,
div.request-content .check-mark{
    position:absolute;
    top: -5px;
    left: -37px;
 width:26px;
 height:26px;
 border:2px solid white;
border-radius: 50%;
}
section.request .check-mark img,
div.request-content .check-mark img
{
    margin-left: 3px;
    /*visibility: hidden;*/
}
/*section.request .check-mark img:checked{
    visibility: visible;
}*/
footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 83px;
    width:100%;
  }

  footer .inner-footer{
    max-width:1830px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    margin:0 auto;
  }
  footer a{
     font-family:'Akrobat SemiBold';
     text-decoration: dashed underline white;
     color:white;
     font-size:25px;
     position: relative;
     z-index: 15;
  }

  div.social-icons ul{
      list-style: none;
  }
  ul.socials li{
    position:absolute;
    z-index:30;
  }
  ul.socials li img{
      width:52px;
      height:52px;
  }
  ul.socials li:nth-child(1){
    bottom: 205px;
    left: 498px;
  }
  ul.socials li:nth-child(2){
    bottom: 233px;
    left: 546px;
  }
  ul.socials li:nth-child(3){
    bottom: 262px;
    left: 595px;
  }
  ul.socials li:nth-child(4){
    bottom: 289px;
    left: 643px;
  }
  ul.socials li:nth-child(5){
    bottom: 317px;
    left: 691px;
  }
  ul.socials li:nth-child(6){
    bottom: 346px;
    left: 739px;
  }
div.dark-bg{
width:100%;
height:100%;
position: absolute;
top:0;
left:0;
background-color: rgba(0,0,0,0.7);
z-index: 45;
}
/*div.request-window{
    position: absolute;
    width:1297px;
    height:1087px;
    background:url("../images/bg_page.jpg");
    margin:0 auto;
    z-index:50;
    left:16.25%;
    top:7.75%;
}*/
div.request-window {
    position: absolute;
    width: 67.5%;
    max-width: 1297px;
    height: 86.9%;
    background: url(../images/bg_page.jpg);
    margin: 0 auto;
    z-index: 50;
    left: 16.25%;
    top: 7.75%;
    margin-top: -1.5%;
}
div.request-window .request-top-left{
    width: 80%;
    height: 55.2%;
}
div.request-window img.request-bottom-right{
    width: 69.4%;
    height: 47.83%;
}

div.request-window img{
    position: absolute;
}
div.request-window .request-top-left{
top:0;
left:0;
}
div.request-window img.request-bottom-right{
    bottom:0;
    right:0; 
}
div.request-window .request-content {
    position: relative;
    z-index: 70;
    max-width: 1032px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 6.5%;
}
div.request-window p.request-text {
    margin-bottom: 8.55%;
    width: 87%;
    height: 10.1%;
}
div.request-window p.request-text,
div.request-content div.textarea-title{
    font-family: "Akrobat ExtraBold";
    font-size: 30px;
    text-align: left;
    color:white;
}
div.request-content div.textarea-title {
    width: 13.8%;
    height: 89px;
    background: #f7de8f;
    text-transform: uppercase;
    color: black;
    text-align: left;
    padding-top: 15px;
    padding-left: 22px;
    float: left;
    margin-left: 0;
}
div.request-content div.request-item {
    height: 11.95%;
    margin-bottom: 7.968%;
}
div.request-content textarea {
    border: 2px solid white;
    font-family: "Akrobat Regular";
    background: transparent;
    color: white;
    float: right;
    font-size: 20px;
    height: 60px;
    width: 79.8%;
    padding: 20px;
    vertical-align: bottom;
}
div.request-content div.last {
    margin-bottom: 7.22%;
}
 div.request-content input[type="text"],
  div.request-content input[type="email"] {
    font-family: 'Akrobat Regular';
    font-size: 22px;
    width: 19%;
    height: 59px;
    margin-right: 9px;
    background: transparent;
    border: 2px solid white;
    line-height: 1.2;
    text-align: left;
    color: white;
}
div.request-content button {
    width: 28.67%;
    height: 65px;
    top: 1px;
    padding: 3px;
}
.close-popup{
    width: 33px;
    height: 33px;
    position: absolute;
    top: -15px;
    right: -15px;
    background: url(../images/closet.png) no-repeat;
    border-radius: 50%;
    -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
    z-index: 80;
}

@media screen and (max-width:1700px){
    div.request-window p.request-text {
        font-size: 27px;
    }
        div.request-content textarea {
            float: left;
        }
        div.request-window .request-content {
            padding-left: 12px;
        }
        div.request-window{
            height:1000px;
        }
        div.request-content .confirm-politic {
            left: 54px;
        }
}
@media screen and (max-width:1585px){
    div.request-window .request-content {
        padding-left: 108px;
    }
    div.request-window .request-top-left {
        width: 59%;
        height: 36.2%;
    }
    div.request-window img.request-bottom-right {
        width: 54.4%;
        height: 40.83%;
    }
    div.request-window p.request-text {
        font-size: 23px;
    }
    div.request-window{
            height: 917px;
    }
    content div.textarea-title {
        width: 12.2%;
    }
    div.request-content textarea {
        width: 63.8%;
    }
     div.request-content input[type="text"], 
     div.request-content input[type="email"] {
        width: 16%;
        height: 48px;
     }
     div.request-content button {
        width: 189px;
        height: 49px;
    }
    div.request-content .btn p {
        font-size: 20px;
    }
     div.request-content .confirm-politic {
        left: 74px;
        bottom: 8px;
    }
    div.request-content .btn p {
        font-size: 20px;
    }
}
@media screen and (max-width:1377px){
    div.request-window p.request-text {
        font-size: 21px;
        margin-bottom: 43px;
    }
    div.request-content div.textarea-title {
        width: 13.8%;
        height: 80px;
        font-size: 27px;
    }
    div.request-content textarea {
        width: 62.8%;
        height: 51px;
    }
    div.request-content div.request-item {
        margin-bottom: 5.968%;
    }
    div.request-content input[type="text"], div.request-content input[type="email"] {
        width: 158px;
        height: 43px;
    }
    div.request-content .confirm-politic p {
        font-size: 16px;
    }
    div.request-content input[type="text"], div.request-content input[type="email"] {
        width: 158px;
        height: 43px;
    }
    div.request-content .confirm-politic {
        left: -20px;
        bottom: 12px;
    }
    div.request-content div.request-item:last-child{
        margin-bottom: 4.9%;
    }
    div.request-content button {
        width: 151px;
        height: 45px;
    }
    div.request-content .btn p {
        font-size: 15px;
    }
    div.request-content input[type="text"], div.request-content input[type="email"] {
        width: 149px;
        height: 36px;
        font-size: 17px;
    }
}




div.hide-request{
    display:none;
}
@media screen and (max-width:1760px){
    .wrap-head div.guarant{
        background-size: 340px 243px;
        left:80px;
    }
    .wrap-head div.guarant .guarant-content{
        padding-right: 25px;
        margin-top: 78px;
    }
    img.rich-man{
        width:auto;
        height:920px;
    }
    img.top-left-angle{
    width:910px;
    height:auto;
    }
    div.bottom-right-angle img{
        width:1025px;
        height:auto;
    }
    footer .inner-footer{
    max-width:1495px;
    }
      }
    
      @media screen and (max-width:1650px){
        img.rich-man{
            width:auto;
            height:850px;
            top:20px;
        }  
      }
      
      @media screen and (max-width:1600px){
        img.rich-man{
            width:auto;
            height:808px;
        }  
        aside.banners {
            height: 521px;
            width: 270px;
        }
        section.our-school-represent  h1{
    font-size: 58px
       }
       section.our-school-represent h3{
    font-size:21px;
       }
       section.our-school-represent h3{
        width:770px;
       }
       section.about-school .inner-wrap{
           padding-right:0;
           padding-left:69px;
       }
        img.top-left-angle{
            width:860px;
            height:auto;
            }
            div.bottom-right-angle img{
                width:935px;
                height:auto;
            }
    
            aside.banners{
                height: 689px;
            }
            aside.banners .want-banner,
    aside.banners .selection-banner
    {
        width: 247px;
    }
    aside .want-banner{
        height: 383px;
    }
    aside .want-banner .banner-img img{
        width: 163px;
        height: auto;
    }
    aside.banners .want-banner-wrap{
        width: 258px;
        height: 392px;
    }
    aside.banners .selection-banner-wrap{
        height: 282px;
        width: 258px;
    }
    aside .btn{
        width: 231px;
    }
    aside .selection-banner{
        height: 270px;
        right: 11px;
    }
    .btn{
        font-size: 36px;
    }
    .btn p{
        border-top: 2px dashed rgb(255, 255, 255);
        border-bottom:2px dashed rgb(255, 255, 255);
        margin-top: 3px;
        padding: 6px;
        line-height: 1.2;
    }
    aside.banners h2{
        font-size: 38px;
    }
    aside .want-banner h2{
        top: -31px;
        margin-bottom: -22px;
    }
    aside .selection-banner h2 span{
        font-size:43px;
    }
    aside div.phrases-banner{
        font-size: 18px;
    }
    section.your-result .inner-wrap{
        height: 121px;
    }
    section.your-result h3 {
        font-size: 36px;
    }
    section.request .inner-wrap{
        margin-top: 67px;
        padding-left: 90px;
    }
       }

    @media screen and (max-width:1530px){
        .wrap-head div.guarant{
            background-size: 297px;
            left:117px;
        }
        .wrap-head div.guarant .guarant-content{
            padding-right: 63px;
            margin-top: 66px;
        }
        .wrap-head div.guarant .guarant-content .guarant-title img{
            width:105px;
        }
        .wrap-head div.guarant .guarant-content .year-number img{
            width:40px;
        }
        span.year-number::before, span.year-number::after{
            width:30px;
        }
        .wrap-head div.guarant .guarant-content .year-number img{
            width:51px;
        }
        span.of-year{
            width:100px;
            margin-right:12px;
        }
        span.year-number{
            width:121px;
        }
        img.rich-man{
            width:auto;
            height:880px;
        }
        img.top-left-angle{
        width:780px;
        height:auto;
        }
        div.bottom-right-angle img{
            width: 867px;
            height: 483px;
        }
        footer .inner-footer{
            max-width:1412px;
            }
            section.your-result .inner-wrap{
                height: 119px;
            }
            section.your-result h3 {
                font-size: 35px;
                margin-left: 401px;
            }
            section.about-school .inner-wrap {
                padding-left: 163px;
            }
    }
    @media screen and (max-width:1500px){
        aside.banners .selection-banner
        {
            width: 247px;
        }
        aside .want-banner{
            height: 377px;
        }
        aside.banners .want-banner-wrap{
            width: 253px;
            height: 388px;
        }
        aside.banners .selection-banner-wrap{
            height: 273px;
            width: 252px;
        }
        aside .btn{
            width: 219px;
        }
        aside .selection-banner{
            height: 270px;
            right: 11px;
        }
        aside.banners h2{
            font-size: 35px;
        }
        aside .want-banner h2{
            top: -26px;
    margin-bottom: -22px;
        }
        aside div.phrases-banner{
            font-size: 17px;
            width: 82px;
            margin-top: 3px;
        }
        aside.banners .want-banner, aside.banners .selection-banner {
            width: 241px;
        }
        aside.banners .selection-banner{
            height: 261px;
        }
    }
    @media screen and (max-width:1439px){
        img.rich-man{
            width:auto;
            height:816px;
        }
        footer .inner-footer{
            max-width:1358px;
            }
    }
    @media screen and (max-width:1415px){

    }
    @media screen and (max-width:1397px){
        aside .want-banner{
            height: 348px;
        }
        aside.banners .want-banner-wrap{
            width: 232px;
            height: 359px;
        }
        aside.banners .selection-banner-wrap{
            height: 243px;
            width: 232px;
        }
        aside .btn{
            width: 207px;
            height: 65px;
        }
        aside.banners h2{
            font-size: 33px;
        }
        aside .want-banner h2{
            top: -22px;
    margin-bottom: -22px;
        }
        aside div.phrases-banner{
            font-size: 16px;
            width: 77px;
            margin-bottom: -22px;
        }
        aside.banners .want-banner, aside.banners .selection-banner {
            width: 221px;
        }
        .btn p {
            margin-top: 3px;
            padding: 6px;
        }
        aside .selection-banner h2 span{
            font-size:39px;
        }
        aside.banners ul{
            margin-top: -22px;
            margin-bottom: 10px;
        }
        aside.banners .selection-banner
        {
            height: 233px;
            width: 221px;
        }
    }
    @media screen and (max-width:1375px){
        img.top-left-angle{
            width:715px;
            height:auto;
            }
            div.bottom-right-angle img{
                width: 821px;
                height: 448px;
            }
            footer .inner-footer{
                max-width: 1321px;
            }
            header .inner-wrap{
                top: 67px;
            }
            section.our-school-represent h1 {
                font-size: 53px;
            }
            section.our-school-represent h3 {
                font-size: 19px;
            }
            section.our-school-represent h3 {
                width: 688px;
            }
            img.rich-man{
                height:719px;
            }
            section.your-result h3{
                font-size: 33px;
                margin-left: 332px;
                padding-top: 7px;
            }
            section.your-result .inner-wrap {
                height: 96px;
                background-size: 1127px;
            }
            footer a {
                font-size: 23px;
            }
            footer .inner-footer {
                max-width: 1305px;
                padding-top: 38px;
            }
            section.request .confirm-politic {
                position: relative;
                left: 20px;
            }
            section.request input[type="text"],
            section.request input[type="email"], 
            div.request-content input[type="text"], 
            div.request-content input[type="email"]{
                width: 195px;
                height: 48px;
             }
             section.request button{
                width: 175px;
                height: 53px;
             }
             section.request button p{
                padding: 5px;
                font-size: 27px;
            }
    }

    @media screen and (max-width:1320px){
        footer .inner-footer {
            max-width: 1266px;
            padding-top: 38px;
        }
    }
        @media screen and (max-width:1305px){
            img.top-left-angle {
                width: 657px;
                height: auto;
            }
            .wrap-head div.guarant {
                background-size: 265px;
                left: 60px;
            }
            .wrap-head div.guarant .guarant-content {
                padding-right: 99px;
                margin-top: 55px;
            }
            .wrap-head div.guarant .guarant-content .guarant-title img {
                width: 91px;
            }
            header .inner-wrap {
                top:0;
            }
            section.our-school-represent h1 {
                font-size: 50px;
            }
            section.our-school-represent h1 {
                margin-top: 50px;
            }
            section.about-school .inner-wrap {
                padding-left: 210px;
            }
         
        }
        @media screen and (max-width:1300px){
            aside.banners .want-banner, aside.banners .selection-banner {
                width: 194px;
                height: 315px;
            }
            aside.banners h2 {
                font-size: 30px;
            }
            aside .want-banner .banner-img img {
                width: 130px;
                position: relative;
                left: 18px;
                bottom: 5px;
            }
            aside .btn {
                width: 176px;
                height: 52px;
            }
            .btn p {
                margin-top: 3px;
                padding: 4px;
                font-size: 29px;
            }
            aside .want-banner .banner-img {
                margin-bottom: -25px;
            }
            aside.banners .want-banner-wrap {
                width: 202px;
                height: 307px;
            }
            aside.banners .want-banner, aside.banners .selection-banner {
                width: 191px;
                height: 297px;
            }
            aside .selection-banner h2 span {
                font-size: 35px;
            }
            aside.banners .selection-banner-wrap {
                height: 219px;
                width: 202px;
            }
            aside.banners .selection-banner {
                width: 191px;
                height: 208px;
            }
        }
        @media screen and (max-width:1270px){
            footer a {
                font-size: 18px;
            }
            footer .inner-footer {
                max-width: 1212px;
            }
            img.rich-man {
                width: auto;
                height: 633px;
            }
            section.your-result h3 {
                font-size: 26px;
                width: 607px;
            }
            section.your-result .inner-wrap {
                height: 89px;
                background-size: 1077px;
            }
        }
        @media screen and (max-width:1270px){
            section.your-result .inner-wrap {
                height: 81px;
                background-size: 1015px;
            }
            section.request span {
                font-size: 27px;
            }    
            aside.banners {
                height: 532px;
                width: 247px;
            }      
            section.about-school ul {
                font-size: 20px;
            }  
            section.about-school h3 {
                font-size: 36px;
            }
            footer .inner-footer {
                max-width: 1183px;
                padding-top: 48px;
            }
        }
        @media screen and (max-width:1270px){
            .wrap-head div.guarant {
                background-size: 265px;
                left: 37px;
            }
            header .inner-wrap .head-title {
                font-size: 26px;
                margin-left: 41px;
            }
            section.our-school-represent h1 {
                font-size: 46px;
            }
            section.our-school-represent h3 {
                margin-top: -8px;
                width: 633px;
                font-size: 18px;
            }
            .school-represent .our-school-text {
                width: 549px;
                font-size: 20px;
            }
            section.about-school .inner-wrap {
                padding-left: 150px;
                margin-top: 14px;
            }
            footer .inner-footer {
                max-width: 1156px;
            }
        }
        @media screen and (max-width:1195px){
            section.your-result .inner-wrap {
                height: 81px;
                background-size: 972px;
            }
            section.request span {
                font-size: 25px;
            }
            section.request .confirm-politic {
                margin-top: -21px;
            }
            section.request .confirm-politic p{
                font-size: 19px;
                margin-left: -15px;
            }
            section.request .check-mark img{
                margin-left: 1px;
                margin-top: -2px;
            }
            section.request .check-mark{
                top: -2px;
                left: -43px;
                width: 20px;
                height: 20px;
            }
            section.request span {
                margin-top: 13px;
            }
            div.bottom-right-angle img {
                width: 799px;
                height: 415px;
            }
            div.social-icons ul {
                position: relative;
                top: 457px;
                right: 51px;
            }
            section.request button {
                width: 159px;
                height: 45px;
            }
            section.request button p {
                padding: 3px;
                font-size: 23px;
            }
            section.request input[type="text"],
            section.request input[type="email"], 
            div.request-content input[type="text"], 
            div.request-content input[type="email"]{
                width: 163px;
                height: 38px;
             }
             section.request .inner-wrap {
                bottom: 19px;
                left: 40px;
            }
            section.request span {
                font-size: 23px;
            }
        }
            @media screen and (max-width:1150px){
                footer .inner-footer {
                    max-width: 1098px;
                    padding-top: 40px;
                }
                section.your-result .inner-wrap {
                    background-size: 939px;
                }
                img.rich-man {
                    width: auto;
                    height: 583px;
                }
                img.top-left-angle {
                    width: 575px;
                    height: auto;
                }
                .wrap-head div.guarant {
                    background-size: 228px;
                    left: 0px;
                }
                .wrap-head div.guarant .guarant-content .guarant-title img {
                    width: 74px;
                    margin-bottom: -8px;
                }
                div.guarant .guarant-content .year-number img {
                    width: 46px;
                }
                span.year-number::before, span.year-number::after {
                    width: 20px;
                    margin-top: 10px;
                }
                span.year-number {
                    width: 95px;
                    margin-bottom: -6px;
                }
                span.of-year {
                    width: 93px;
                }
                span.of-year img{
                    width: 47px;
                }
                .wrap-head div.guarant .guarant-content {
                    padding-right: 134px;
                    margin-top: 44px;
                }
                section.your-result .inner-wrap {
                    background-size: 918px;
                }
                aside.banners {
                    width: 219px;
                }
            }
            @media screen and (max-width:1090px){
                footer .inner-footer {
                    max-width: 1040px;
                }
                section.your-result .inner-wrap {
                    background-size: 863px;
                    height: 72px;
                }
                section.your-result h3 {
                    font-size: 24px;
                    width: 552px;
                    margin-left: 265px;
                }
                section.request span {
                    font-size: 21px;
                }
                section.request .confirm-politic p {
                    font-size: 16px;
                    margin-top: 31px;
                }
                section.about-school .inner-wrap {
                    padding-left: 108px;
                }
                section.about-school ul {
                    font-size: 17px;
                }
                section.about-school h3 {
                    width: 187px;
                    font-size: 28px;
                }
                section.our-school-represent h1 {
                    font-size: 44px;
                }
                section.our-school-represent h3 {
                    margin-top: 0px;
                    width: 581px;
                    font-size: 16px;
                }
                section.our-school-represent .our-school-text {
                    width: 542px;
                    font-size: 20px;
                }
                header .inner-wrap .head-title {
                    font-size: 24px;
                    margin-left: 52px;
                }
            }
            @media screen and (max-width:1060px){
                section.your-result .inner-wrap {
                    background-size: 830px;
                }
                section.request span {
                    font-size: 19px;
                }
                ul.socials li img {
                    width: 38px;
                    height: 38px;
                }
                ul.socials li:nth-child(1){
                    bottom: 209px;
                    left: 526px;
                  }
                  ul.socials li:nth-child(2){
                    bottom: 232px;
                    left: 566px;
                  }
                  ul.socials li:nth-child(3){
                    bottom: 255px;
                    left: 606px;
                  }
                  ul.socials li:nth-child(4){
                    bottom: 279px;
                    left: 648px;
                  }
                  ul.socials li:nth-child(5){
                    bottom: 302px;
                    left: 691px;
                  }
                  ul.socials li:nth-child(6){
                    bottom: 325px;
                    left: 734px;
                  }
            }
            @media screen and (max-width:1043px){
                section.about-school .purposes h3 {
                    width: 161px;
                }
                section.about-school ul {
                    font-size: 15px;
                }
                section.your-result .inner-wrap {
                    background-size: 809px;
                }
                section.your-result h3 {
                    font-size: 22px;
                    width: 508px;
                    margin-left: 238px;
                }
                section.request span {
                    font-size: 17px;
                }
                section.our-school-represent h1 {
                    font-size: 40px;
                }
                section.our-school-represent h3 {
                    width: 504px;
                    font-size: 14px;
                }
                section.our-school-represent .our-school-text {
                    width: 461px;
                    font-size: 17px;
                    margin-top: 45px;
                    margin-bottom: 25px;
                }
                section.about-school .purposes h3 {
                    width: 143px;
                    font-size: 22px;
                }
                section.about-school h3 {
                    font-size: 25px;
                }
                footer .inner-footer {
                    max-width: 998px;
                }
            }
            @media screen and (max-width:1010px){
                footer .inner-footer {
                    max-width: 982px;
                    padding-top: 46px;
                }
                section.your-result .inner-wrap {
                    background-size: 783px;
                }
                section.about-school .inner-wrap {
                    padding-left: 74px;
                }
                img.rich-man {
                    width: auto;
                    height: 527px;
                }
                section.request .check-mark {
                    top: 0px;
                    left: -38px;
                    width: 15px;
                    height: 15px;
                }
                /*section.request .check-mark img{
                    width: 16px;
                    height: 16px;
                }*/
                header .inner-wrap {
                    top: 32px;
                }
            }
            @media screen and (max-width:990px){
                section.your-result .inner-wrap {
                    background-size: 751px;
                    height: 60px;
                }
                footer .inner-footer {
                    max-width: 943px;
                }
                section.about-school .inner-wrap {
                    padding-left: 31px;
                }
                header .inner-wrap .head-title {
                    font-size: 21px;
                    margin-left: 60px;
                }
                span.of-year img {
                    width: 43px;
                }
                span.of-year::before {
                    margin-left: -2px;
                }
            }
div.dark-bg-popup{
    width:100%;
height:100%;
position: absolute;
top:0;
left:0;
background-color: rgba(0,0,0,0.7);
z-index: 105;
}
div.popup-thanks{
    width: 20.5%;
    height: 15.2%;
    top: 21%;
    left: 39.75%;
    position:absolute;
    background:url("../images/bg_page.jpg");
    z-index:110;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0 0 50px rgb(255, 255, 255);
}
div.popup-thanks .close-popup{
z-index: 95;
}
div.popup-thanks img.popup-top-left,
div.popup-thanks img.popup-bottom-right
{
    position:absolute;
    width:120px;
}
div.popup-thanks img.popup-top-left{
top:0;
left:0;
}
div.popup-thanks img.popup-bottom-right{
    bottom:0;
    right:0;
}
div.popup-thanks p{
    text-align:center;
    font-family:'Akrobat SemiBold';
    width:100%;
    position:relative;
    z-index:111;
}
div.popup-thanks p.thank{
font-size:24px;
color:white;
}
div.popup-thanks p.soon{
    font-size:20px;
color:#fcde7f;
}
